.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}


#larger_text
{
  font-size: large;
  width: 100%;
  height: 100%;
}

#homepage
{
background-image: url("/src/images/clouds_bmp.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

#profile
{
  min-width: 13vw;
  min-height: 32vh;
  width: 13vw;
  height: 32vh;
  border-radius: 250px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1%;
  margin-top: 1%;
  filter:contrast(120%) saturate(160%);
  box-shadow: -10px 10px black;
}

#name
{
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 30px;
  margin-top: 3%;
  padding-bottom: 1%;
}

#qualification
{
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 30px;
  padding-top: 1%;
  margin-top: 5%;
}

#list
{
  text-align: left;
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 23px;
  padding-top: 2%;
  margin-top: 6.5%;
  padding-left: 0;
}

ul.links
{
  list-style:none;
}

li
{
  padding-top: 5%;
}

a:link
{
  text-decoration: none;
  color: #2a3428;
}
a:visited
{
  text-decoration: none;
  color: darkblue;

}
a:hover
{
  text-decoration: underline;
  background-color: aqua;
  color: blue;
}

h1,h2
{
  color: black;
}
.List
{
  text-align: left;
}
#Projects
{
  border: 10px 10px #282c34;
  border-style: dotted;
  position: absolute;
  top: 0;
  margin-left: 70%;
  margin-top: 10vh;
  filter: saturate(800%);
}

#Experience
{
  border: 10px 10px #282c34;
  border-style: dotted;
  position: absolute;
  top: 0;
  margin-left: 70%;
  margin-top: 60vh;
  /* Make this the halloween filter filter:  hue-rotate(180deg); */
  filter: hue-rotate(300deg)  saturate(200%);
}

#Hobbies
{
  border: 10px 10px #282c34;
  border-style: dotted;
  position: absolute;
  top: 0;
  margin-left: 30%;
  margin-top: 40vh;
  filter: hue-rotate(300deg) saturate(800%);
}
.jobs
{
  font-weight: 800;
  padding-bottom: 2% ;
  padding-top: 2%;

}

.button {
  cursor: pointer;
  border-radius: 5px;
}

#bolden
{
  font-weight: 800;
  padding-top: 3%;
  padding-bottom: -4% ;
}

#Hobbies
{
  border: 10px 10px #282c34;
  border-style: dotted;
  position: absolute;
  top: 0;
  margin-left: 30%;
  margin-top: 40vh;
  filter: hue-rotate(300deg) saturate(800%);
}

#hobby
{
  margin-left: -10%;
  padding-bottom: 10%;
}

ul.List
{
  list-style-type: square;
}

#padd
{
  margin-bottom: 10%;
}

#movies
{
  padding-top: 8%;
  position:relative;
  top:0;
  margin-top: -82%;
  margin-left: 30%;
  padding-bottom: 10%;
}

#name
{
  background: linear-gradient(
    to bottom,  
    #0F2027,
    #203A43,
    #2C5364
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}



#qualification
{
  background: linear-gradient(
    to bottom ,  
  
    /* rgb(61, 200, 255), 
    rgb(105, 255, 46) */
    #0F2027,
    #203A43,
    #2C5364
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}


